@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1> Edit @Model.Name Department </h1>

<br />
<div asp-validation-summary="All" class="alert alert-danger"></div>
<br />

<form asp-action="Edit">
    <div class="form-group">
        <label class="form-label" asp-for="Code"></label>
        <input class="form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />


    <div class="form-group">
        <label class="form-label" asp-for="DateOfCreation"></label>
        <input class="form-control" asp-for="DateOfCreation" />
        <span asp-validation-for="DateOfCreation" class="text-danger"></span>
    </div>

    <br />
    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back To List</a>
    </center>
</form>
